<!-- A base template containing repeated elements that each page can inherit from. -->
<nav>
  <h3><a href="{% url 'learning_logs:index' %}">Learning Log</a></h3>
  <h3><a href="{% url 'learning_logs:topics' %}">Topics</a></h3>


<!-- Check if user is logged in first. -->
  {% if user.is_authenticated %}
    <h3><a href="{% url 'users:logout' %}">Logout</a></h3>
    <h3>Hello, {{ user.username }}!</h3>
  {% else %}
    <h3><a href="{% url 'users:login' %}">Login</a></h3>
  {% endif %}

</nav>

<!-- Required placeholder block tags; the child template defines the kind of information that goes inside the content block. -->
{% block content %}{% endblock content%}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  
  * {
    font-family: 'Inter', sans-serif;
  }

  nav {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
  }
</style>