<!-- Inherits from base.html  -->
{% extends "learning_logs/base.html" %}

{% block content %}
  <ul>
    {% for topic in topics %}
      {% comment %} Render a URL template tag to generate a link to the topic. {% endcomment %}
      <li>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
      </li>
      {% comment %} Render something else if there are no items in the list. {% endcomment %}
    {% empty %} 
      <li>No topics added yet!</li>
    {% endfor %}
  </ul>
{% endblock content %}